body{
			background-image: url("https://wallpaperscraft.com/image/dark_spot_background_texture_50611_1920x1080.jpg");
			background-size: cover;
		}
		

		h1{
			color: red;
			font-size: 25px;
			font-family: calibri;
			font-weight: normal;
		} 
		h2{
			text-align: center;
			color: white;
		}
		h3{
			color:red;
		}
		img{
			border: 10px dotted white ;
			background-color: black;
			width: 200px;
		}

